<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="shortcut icon" th:href="@{/images/icons/favicon.ico}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script>
		function myFunction() {
			if (!($("#model").val() == "")) {
				if ($("#selectedcategory option:selected").text() == 'Workstation'
					|| $("#selectedcategory option:selected").text() == 'Server') {
					if (!($("#ram").val() == "")){
						if (!($("#serialNo").val() == "")||!($("#serviceTagNo").val() == "")) {
							var values = $("#myForm").serialize();	
											var request = $
												.ajax({
													
													dataType: 'text',
													cache: false,
													url: "/test/get_time.htm",
													type: "post",
													data: values,
													async: true,
													success: function (successEvent) {

														x = 2;
														var useride = $(
															"#userid")
															.val();
														var category = $(
															"#selectedcategory option:selected")
															.text();
														var manufacturer = $(
															"#selectedmanufacturer option:selected")
															.text();
														var processor = $(
															"#selectedprocessor option:selected")
															.text();
														var model = $(
															"#model")
															.val();
														var ram = $(
															"#ram")
															.val();
														var serialNo = $(
															"#serialNo")
															.val();
														var servicetagno = $(
															"#serviceTagNo")
															.val();
														var supplier = $(
															"#selectedsupplier option:selected")
															.text();
														var date_indent = $(
															"#date_indent")
															.val();
														var date_approval = $(
															"#date_approval")
															.val();
														var date_issuance = $(
															"#date_issuance")
															.val();
														var date_purchase = $(
															"#date_purchase")
															.val();
														var vendor = $(
															"#vendor")
															.val();
														var approved_by = $(
															"#approved_by")
															.val();
														var warranty_expiry_date = $(
															"#date_expiry")
															.val();
														var price = $(
															"#price")
															.val();
														var recommended_by = $(
															"#section option:selected")
															.text();
														var condition = $("#selectedcondition option:selected").text();

														var remarks = $("#remarks").val();
														
														var markup = "<tr style='font-size:small'><td></td><td>"
															+ category
															+ "</td><td>"
															+ manufacturer
															+ "</td><td>"
															+ processor
															+ "</td><td>"
															+ model
															+ "</td><td>"
															+ ram
															+ "</td><td>"
															+ serialNo
															+ "</td><td>"
															+ servicetagno
															+ "</td><td>"
															+ condition
															+ "</td><td>"
															+ supplier
															+ "</td><td>"
															+ date_purchase
															+ "</td><td>"
															+ vendor
															+ "</td><td>"
															+ warranty_expiry_date
															+ "</td><td>"
															+ price
															+ "</td><td>"
															+ remarks
															+"</td><td>"
															+ recommended_by
															+ "</td></tr>";
														
															alert("Data submitted successfully!");
															$("#myTable").append(markup);
													    
														$("#myForm").trigger("reset");
														evt.stopPropagation();
														
													},
													error: function (errorevt) {
														alert("Either service tag no or serial number already exists in the DB or One of the two Service Tag no or Serial number must be entered as unique number");
														errorevt.stopPropagation();
													}

												});
										    //return false;

										
						} else {
							alert("One of the two service tag number or serial number must be entered as a unique value");
							$("#serviceTagNo").focus();

						}
					} else {
						alert("RAM is mandatory for this category");
						$("#ram").focus();
					}
				} else {
					if (!($("#serialNo").val() == "")||!($("#serviceTagNo").val() == "")) {
						if ($("#selectedsupplier option:selected").text() == "HQ") {
							var values = $("#myForm").serialize();	
											var request = $
												.ajax({
													
													dataType: 'text',
													cache: false,
													url: "/test/get_time.htm",
													type: "post",
													data: values,
													async: true,
													success: function (successEvent) {

														x = 2;
														var useride = $(
															"#userid")
															.val();
														var category = $(
															"#selectedcategory option:selected")
															.text();
														var manufacturer = $(
															"#selectedmanufacturer option:selected")
															.text();
														var processor = $(
															"#selectedprocessor option:selected")
															.text();
														var model = $(
															"#model")
															.val();
														var ram = $(
															"#ram")
															.val();
														var serialNo = $(
															"#serialNo")
															.val();
														var servicetagno = $(
															"#serviceTagNo")
															.val();
														var supplier = $(
															"#selectedsupplier option:selected")
															.text();
														var date_indent = $(
															"#date_indent")
															.val();
														var date_approval = $(
															"#date_approval")
															.val();
														var date_issuance = $(
															"#date_issuance")
															.val();
														var date_purchase = $(
															"#date_purchase")
															.val();
														var vendor = $(
															"#vendor")
															.val();
														var approved_by = $(
															"#approved_by")
															.val();
														var warranty_expiry_date = $(
															"#date_expiry")
															.val();
														var price = $(
															"#price")
															.val();
														var recommended_by = $(
															"#section option:selected")
															.text();
														var condition = $("#selectedcondition option:selected").text();

														var remarks = $("#remarks").val();
														
														var markup = "<tr style='font-size:small'><td></td><td>"
															+ category
															+ "</td><td>"
															+ manufacturer
															+ "</td><td>"
															+ processor
															+ "</td><td>"
															+ model
															+ "</td><td>"
															+ ram
															+ "</td><td>"
															+ serialNo
															+ "</td><td>"
															+ servicetagno
															+ "</td><td>"
															+ condition
															+ "</td><td>"
															+ supplier
															+ "</td><td>"
															+ date_purchase
															+ "</td><td>"
															+ vendor
															+ "</td><td>"
															+ warranty_expiry_date
															+ "</td><td>"
															+ price
															+ "</td><td>"
															+ remarks
															+"</td><td>"
															+ recommended_by
															+ "</td></tr>";
														
															alert("Data submitted successfully!");
															$("#myTable").append(markup);
													    
														$("#myForm").trigger("reset");
														evt.stopPropagation();
														
													},
													error: function (errorevt) {
														alert("Either service tag no or serial number already exists in the DB or One of the two Service Tag no or Serial number must be entered as unique number");
														errorevt.stopPropagation();
													}

												});	$("#myForm")
							.submit(
								function (evts) {
									var x = 1;
									evts
										.preventDefault();
									var values = $(this)
										.serialize();
									var request = $
										.ajax({
											dataType: 'text',
											cache: false,
											url: "/test/get_time.htm",
											type: "post",
											data: values,
											async: true,
											success: function (evt) {
												evt.stopPropagation();
												x = 2;
												var useride = $(
													"#userid")
													.val();
												var category = $(
													"#selectedcategory option:selected")
													.text();
												var manufacturer = $(
													"#selectedmanufacturer option:selected")
													.text();
												var processor = $(
													"#selectedprocessor option:selected")
													.text();
												var model = $(
													"#model")
													.val();
												var ram = $(
													"#ram")
													.val();
												var serialNo = $(
													"#serialNo")
													.val();
												var servicetagno = $(
													"#serviceTagNo")
													.val();
												var supplier = $(
													"#selectedsupplier option:selected")
													.text();
												var date_indent = $(
													"#date_indent")
													.val();
												var date_approval = $(
													"#date_approval")
													.val();
												var date_issuance = $(
													"#date_issuance")
													.val();
												var date_purchase = $(
													"#date_purchase")
													.val();
												var vendor = $(
													"#vendor")
													.val();
												var approved_by = $(
													"#approved_by")
													.val();
												var warranty_expiry_date = $(
													"#date_expiry")
													.val();
												var price = $(
													"#price")
													.val();
												var recommended_by = $(
													"#section option:selected")
													.text();
												var condition = $(
												"#selectedcondition option:selected")
												.text();
												
												var remarks = $(
												"#remarks")
												.val();

												var markup = "<tr style='font-size:small'><td></td><td>"
													+ category
													+ "</td><td>"
													+ manufacturer
													+ "</td><td>"
													+ processor
													+ "</td><td>"
													+ model
													+ "</td><td>"
													+ ram
													+ "</td><td>"
													+ serialNo
													+ "</td><td>"
													+ servicetagno
													+ "</td><td>"
													+condition
													+"</td><td>"
													+ supplier
													+ "</td><td>"
													+ date_purchase
													+ "</td><td>"
													+ vendor
													+ "</td><td>"
													+ warranty_expiry_date
													+ "</td><td>"
													+ price
													+ "</td><td>"
													+ remarks
													+"</td><td>"
													+ recommended_by
													+ "</td></tr>";
												if (x > 1) {
													alert("Data submitted successfully");
													$(
														"#myTable")
														.append(
															markup);
												}
												$("#myForm").trigger("reset");
											},
											error: function (errorevt) {
												errorevt.stopPropagation();
												alert("Either service tag no or serial no already exists in the DB or One of the two Service tag number or serial number must be entered as unique number");
											}

										});

								});
						} else if($("#selectedsupplier option:selected").text() == "Local Budget") {
							var values = $("#myForm").serialize();	
											var request = $
												.ajax({
													
													dataType: 'text',
													cache: false,
													url: "/test/get_time.htm",
													type: "post",
													data: values,
													async: true,
													success: function (successEvent) {

														x = 2;
														var useride = $(
															"#userid")
															.val();
														var category = $(
															"#selectedcategory option:selected")
															.text();
														var manufacturer = $(
															"#selectedmanufacturer option:selected")
															.text();
														var processor = $(
															"#selectedprocessor option:selected")
															.text();
														var model = $(
															"#model")
															.val();
														var ram = $(
															"#ram")
															.val();
														var serialNo = $(
															"#serialNo")
															.val();
														var servicetagno = $(
															"#serviceTagNo")
															.val();
														var supplier = $(
															"#selectedsupplier option:selected")
															.text();
														var date_indent = $(
															"#date_indent")
															.val();
														var date_approval = $(
															"#date_approval")
															.val();
														var date_issuance = $(
															"#date_issuance")
															.val();
														var date_purchase = $(
															"#date_purchase")
															.val();
														var vendor = $(
															"#vendor")
															.val();
														var approved_by = $(
															"#approved_by")
															.val();
														var warranty_expiry_date = $(
															"#date_expiry")
															.val();
														var price = $(
															"#price")
															.val();
														var recommended_by = $(
															"#section option:selected")
															.text();
														var condition = $("#selectedcondition option:selected").text();

														var remarks = $("#remarks").val();
														
														var markup = "<tr style='font-size:small'><td></td><td>"
															+ category
															+ "</td><td>"
															+ manufacturer
															+ "</td><td>"
															+ processor
															+ "</td><td>"
															+ model
															+ "</td><td>"
															+ ram
															+ "</td><td>"
															+ serialNo
															+ "</td><td>"
															+ servicetagno
															+ "</td><td>"
															+ condition
															+ "</td><td>"
															+ supplier
															+ "</td><td>"
															+ date_purchase
															+ "</td><td>"
															+ vendor
															+ "</td><td>"
															+ warranty_expiry_date
															+ "</td><td>"
															+ price
															+ "</td><td>"
															+ remarks
															+"</td><td>"
															+ recommended_by
															+ "</td></tr>";
														
															alert("Data submitted successfully!");
															$("#myTable").append(markup);
													    
														$("#myForm").trigger("reset");
														evt.stopPropagation();
														
													},
													error: function (errorevt) {
														alert("Either service tag no or serial number already exists in the DB or One of the two Service Tag no or Serial number must be entered as unique number");
														errorevt.stopPropagation();
													}

												});
						}
					} else {
						alert("One of the two service tag no or serial number must be entered as unique number");
						$("#serviceTagNo").focus();

					}
			   }
			} else {
				alert("Model is mandatory for this category");
				$("#model").focus();
			}
		}
	</script>
	<script>
		$(document).ready(function () {
			$("#selectedcategory").change(function () {
				var selectedcategory = $(this).children("option:selected").text();
				if ((selectedcategory == 'Workstation') || (selectedcategory == 'Server')) {
					$("#ramLabel").show();
					$("#ram").show();
					$("#selectedprocessor").show();
					$("#processorlabel").show();
					$("#modelCompItem").show();
					$("#ramCompItem").show();
					$("#serialNoCompItem").show();
					$("#serviceTagNoCompItem").show();

				} else {
					$("#ramLabel").hide();
					$("#ram").hide();
					$("#selectedprocessor").hide();
					$("#processorlabel").hide();
					$("#modelCompItem").hide();
					$("#ramCompItem").hide();
					$("#serialNoCompItem").hide();
					$("#serviceTagNoCompItem").hide();
				}
			});
		});
	</script>
	<script>
		$(document).ready(
			function () {
				var selectedsupplier = $("#selectedsupplier").children(
					"option:selected").text();
				if (selectedsupplier == 'HQ') {
					$("#date_purchase").hide();
					$("#datePurchaseLabel").hide();
					$("#vendorLabel").hide();
					$("#vendor").hide();
					$("#dateExpiryLabel").hide();
					$("#date_expiry").hide();
					$("#priceLabel").hide();
					$("#price").hide();
					$("#dateIndentLabel").hide();
					$("#date_indent").hide();
					$("#dateApprovalLabel").hide();
					$("#date_approval").hide();
					$("#dateIssuanceLabel").hide();
					$("#date_issuance").hide();
					$("#recommendedBy").show();

				} else if ((selectedsupplier == 'Local Budget')) {
					$("#date_purchase").show();
					$("#datePurchaseLabel").show();
					$("#vendorLabel").show();
					$("#vendor").show();
					$("#dateExpiryLabel").show();
					$("#date_expiry").show();
					$("#priceLabel").show();
					$("#price").show();
					$("#dateIndentLabel").hide();
					$("#date_indent").hide();
					$("#dateApprovalLabel").hide();
					$("#date_approval").hide();
					$("#dateIssuanceLabel").hide();
					$("#date_issuance").hide();
					$("#recommendedBy").hide();
					$("#section").hide();
				}
				$("#selectedsupplier").change(
					function () {
						var selectedsupplier = $(this).children(
							"option:selected").text();
						if ((selectedsupplier == 'HQ')) {
							$("#date_purchase").hide();
							$("#datePurchaseLabel").hide();
							$("#vendorLabel").hide();
							$("#vendor").hide();
							$("#dateExpiryLabel").hide();
							$("#date_expiry").hide();
							$("#priceLabel").hide();
							$("#price").hide();
							$("#dateIndentLabel").hide();
							$("#date_indent").hide();
							$("#dateApprovalLabel").hide();
							$("#date_approval").hide();
							$("#dateIssuanceLabel").hide();
							$("#date_issuance").hide();
							$("#recommendedBy").show();
							$("#section").show();

						} else if ((selectedsupplier == 'Local Budget')) {
							$("#date_purchase").show();
							$("#datePurchaseLabel").show();
							$("#vendorLabel").show();
							$("#vendor").show();
							$("#dateExpiryLabel").show();
							$("#date_expiry").show();
							$("#priceLabel").show();
							$("#price").show();
							$("#dateIndentLabel").hide();
							$("#date_indent").hide();
							$("#dateApprovalLabel").hide();
							$("#date_approval").hide();
							$("#dateIssuanceLabel").hide();
							$("#date_issuance").hide();
							$("#recommendedBy").hide();
							$("#section").hide();
						}
					});
			});
	</script>
	<title>Hardware Directory</title>
</head>

<body>
	<script>
		$(document).ready(function () {
			window.history.pushState(null, "", window.location.href);
			window.onpopstate = function () {
				window.history.pushState(null, "", window.location.href);
			};
		});
	</script>
	<script>
		$(document)
			.ready(
				function () {
					$("#model")
						.bind(
							'keypress',
							function (event) {
								var regex = new RegExp(
									"^[ a-zA-Z0-9]+$");
								var key = String
									.fromCharCode(!event.charCode ? event.which
										: event.charCode);
								if (!regex.test(key)) {
									event.preventDefault();
									return false;
								}
							});
					$("#ram")
						.bind(
							'keypress',
							function (event) {
								var regex = new RegExp(
									"^[ a-zA-Z0-9]+$");
								var key = String
									.fromCharCode(!event.charCode ? event.which
										: event.charCode);
								if (!regex.test(key)) {
									event.preventDefault();
									return false;
								}
							});
					$("#vendor")
						.bind(
							'keypress',
							function (event) {
								var regex = new RegExp(
									"^[ a-zA-Z0-9]+$");
								var key = String
									.fromCharCode(!event.charCode ? event.which
										: event.charCode);
								if (!regex.test(key)) {
									event.preventDefault();
									return false;
								}
							});
					$("#price")
						.bind(
							'keypress',
							function (event) {
								var regex = new RegExp(
									"^[ a-zA-Z0-9]+$");
								var key = String
									.fromCharCode(!event.charCode ? event.which
										: event.charCode);
								if (!regex.test(key)) {
									event.preventDefault();
									return false;
								}
							});
				});
	</script>
	<p id="id_time"></p>
	<div class="container-fluid">

		<p class="h4 mb-2" style="font-size: large">Add Items</p>
		<form id="myForm" action="#" th:action="@{/items/save}" th:object="${item}" method="POST" 
			style="font-size: small" onsubmit="return false;">
			<div class="form-row">
				<div class="col-md-4">
					<label id="categoryLabel">Category:</label></label><select id="selectedcategory"
						th:field="*{category}" class="form-control mb-1 col-10" style="font-size: small">

						<option type="text" th:each="category:${category}" class="form-control mb-4 col-2"
							style="font-size: small" th:value="${category.Id}" th:name="${category.Name}"
							th:text="${category.Name}" />
					</select>
					<!-- Add hidden form field to handle update -->
					<label id="manufacturerLabel">Manufacturer:</label><select id="selectedmanufacturer"
						th:field="*{manufacturer}" class="form-control mb-1 col-10" style="font-size: small">
						<option type="text" th:each="manufacturer:${manufacturer}" class="form-control mb-4 col-2"
							style="font-size: small" th:value="${manufacturer.Id}" th:name="${manufacturer.Name}"
							th:text="${manufacturer.Name}" />
					</select><label id="processorlabel">Processor:</label> <select id="selectedprocessor"
						th:field="*{processor}" class="form-control mb-1 col-10" style="font-size: small">
						<option th:each="processor:${processor}" class="form-control mb-4 col-9"
							style="font-size: small" th:value="${processor.Id}" th:name="${processor.Name}"
							th:text="${processor.Name}" />
					</select> <label id="modelLabel">Model</label><label id="modelCompItems" style="color: red;">(*):</label> <input id="model" type="text" th:field="*{model}"
						class="form-control mb-1 col-10 input" style="font-size: small" maxlength="30" size="30"
						placeholder="model"> <label id="ramLabel">Ram</label><label id="ramCompItem" style="color: red;">(*):</label><input id="ram" type="text"
						th:field="*{Ram}" class="form-control mb-1 col-10" style="font-size: small" maxlength="10"
						size="10" placeholder="ram">
				</div>
				<div class="col-md-4">
					<label id="serialNoLabel">Serial No</label><label class="compItems" style="color: red;">(*):</label><input id="serialNo" type="text" th:field="*{serialNo}"
						class="form-control mb-1 col-10" style="font-size: small" maxlength="30" size="30"
						placeholder="serialNo"> <label id="serviceTagNoLabel">Service Tag No</label><label class="compItems" style="color: red;">(*):</label><input
						id="serviceTagNo" type="text" th:field="*{serviceTagNo}" class="form-control mb-1 col-10"
						style="font-size: small" maxlength="30" size="30" placeholder="Service Tag No"> <label
						id="conditionLabel" style="font-size: small">Condition:</label> <select id="selectedcondition"
						th:field="*{condition}" class="form-control mb-1 col-10" style="font-size: small">
						<option th:each="condition:${condition}" class="form-control mb-4 col-9"
							style="font-size: small" th:value="${condition.Id}" th:name="${condition.Name}"
							th:text="${condition.Name}" />
					</select> <label id="supplierLabel" style="font-size: small">Supplier:</label>
					<select id="selectedsupplier" th:field="*{supplier}" class="form-control mb-1 col-10"
						style="font-size: small">
						<option th:each="supplier:${supplier}" class="form-control mb-4 col-9" style="font-size: small"
							th:value="${supplier.Id}" th:name="${supplier.Name}" th:text="${supplier.Name}" />
					</select> <label id="recommendedBy" style="font-size: small">Recommended
						By:</label> <select id="section" th:field="*{section}" class="form-control mb-1 col-10"
						style="font-size: small">
						<option th:each="section:${section}" class="form-control mb-1 col-9" style="font-size: small"
							th:value="${section.Id}" th:name="${section.Name}" th:text="${section.Name}" />
					</select> <label id="datePurchaseLabel" style="font-size: small">Date
						Purchase:</label> <input rows="5" col="4" id="date_purchase" type="date"
						th:field="*{date_purchase}" class="form-control mb-1 col-10" style="font-size: small"
						placeholder="Date Purchase" />
				</div>
				<div class="col-md-4">
					<label id="vendorLabel" style="font-size: small">Vendor:</label> <input rows="5" col="4" id="vendor"
						type="text" th:field="*{vendor}" class="form-control mb-1 col-10" style="font-size: small"
						maxlength="30" size="30" placeholder="Vendor" /> <label id="dateExpiryLabel"
						style="font-size: small">Warranty
						Expiry:</label> <input rows="5" col="4" id="date_expiry" type="date" th:field="*{date_expiry}"
						class="form-control mb-1 col-10" style="font-size: small" /> <label id="priceLabel"
						style="font-size: small">Price:</label> <input id="price" type="text" th:field="*{price}"
						class="form-control mb-1 col-10" style="font-size: small" maxlength="10" size="10"
						placeholder="Price"> <label id="remarksLabel" style="font-size: small">Remarks:</label>
					<textarea id="remarks" type="textarea" th:field="*{remarks}" class="form-control mb-1 col-10"
						style="font-size: small" maxlength="200" size="10" placeholder=""></textarea> <label
						id="dateIndentLabel" style="font-size: small">Date Indent:</label> <input rows="5" col="4"
						id="date_indent" type="date" th:field="*{date_indent}" class="form-control mb-1 col-10"
						style="font-size: small" placeholder="Date Indent" /> <label id="dateApprovalLabel"
						style="font-size: small">Date Approval:</label> <input rows="5" col="4" id="date_approval"
						type="date" th:field="*{date_approval}" class="form-control mb-1 col-10"
						style="font-size: small" placeholder="Date Approval" /> <label id="dateIssuanceLabel"
						style="font-size: small">Date Issuance:</label> <input rows="5" col="4" id="date_issuance"
						type="date" th:field="*{date_issuance}" class="form-control mb-1 col-10"
						style="font-size: small" placeholder="Date Issuance" />

				</div>

				<div class="col-md-3">
					<br> <input id="userid" name="userid" type="hidden" th:field="${user.Id}"
						class="form-control mb-1 col-6" placeholder="user"> <input id="addItemButton" type="submit"
						onclick="myFunction()" class="btn btn-info col-8" value="Add Items" />
				    <p>Note:Fields marked as<label style="color: red;">(*)</label> are mandatory.</p>
				</div>
			</div>
		</form>
		<form id="backtomainpage" action="#" th:action="@{/items/showMainPage}" th:object="${user}" method="POST" >
			<div class="js-serial">
				<table id="myTable" class="table .table td.fit, .table th.fit { white-space: nowrap;width: 1%; }">
					<thead>
						<tr>
							<th style="font-size: small">#</th>
							<th style="font-size: small">Category</th>
							<th style="font-size: small">Manufacturer</th>
							<th style="font-size: small">Processor</th>
							<th style="font-size: small">Model</th>
							<th style="font-size: small">Ram</th>
							<th style="font-size: small">Serial No</th>
							<th style="font-size: small">Service Tag</th>
							<th style="font-size: small">Condition</th>
							<th style="font-size: small">Supplied By</th>
							<th style="font-size: small">Date Purchase</th>
							<th style="font-size: small">Vendor</th>
							<th style="font-size: small">Warranty Exp Date</th>
							<th style="font-size: small">Price</th>
							<th style="font-size: small">Remarks</th>
							<th style="font-size: small">Recommended By:</th>
						</tr>
					</thead>
					<tbody>
						<tr>

						</tr>
					</tbody>
				</table>
			</div>
			<input id="userid" name="userid" type="hidden" th:field="${user.Id}" class="form-control mb-4 col-6"
				placeholder="user">
			<button type="submit" class="btn btn-info col-2">Main Page</button>
		</form>
		</br>
	</div>
</body>

</html>