<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>HARDWARE MANAGEMENT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="index_files/bootstrap.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="index_files/font-awesome.css">
<!--===============================================================================================-->
<link rel="sty lesheet" type="text/css"
	href="index_files/material-design-iconic-font.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="index_files/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="index_files/hamburgers.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="index_files/animsition.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="index_files/select2.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="index_files/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="index_files/util.css">
<link rel="stylesheet" type="text/css" href="index_files/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" th:action="@{/login}"
					th:object="${loginForm}" method="post">
					<span class="login100-form-title p-b-70"> PASSPORT OFFICES
						HARDWARE MANAGEMENT </span> <span class="login100-form-avatar"> <img
						src="index_files/govt_pak_logo.png" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35"
						data-validate="Enter username">
						<input class="input100" type="text" id="username" name="username"
							autofocus="autofocus"> <span class="focus-input100"
							data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50"
						data-validate="Enter password">
						<input class="input100" type="password" id="password "
							name="password"> <span class="focus-input100"
							data-placeholder="Password"></span>
					</div>
					<input type="submit" value="" />
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">Login</button>
						<p th:if="${invalidCredentials}" class="error">Username or Password is wrong</p>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="index_files/jquery-3.js"></script>
	<!--===============================================================================================-->
	<script src="index_files/animsition.js"></script>
	<!--===============================================================================================-->
	<script src="index_files/popper.js"></script>
	<script src="index_files/bootstrap.js"></script>
	<!--===============================================================================================-->
	<script src="index_files/select2.js"></script>
	<!--===============================================================================================-->
	<script src="index_files/moment.js"></script>
	<script src="index_files/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="index_files/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="index_files/main.js"></script>

</body>
</html>